.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.my-image{
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}

.jumbotron .input-group{
    width: 50%;
}

@media (max-width:1175px) {
    .jumbotron .input-group{
        width: 80%;
    }
    
}

@media (max-width:400px) {
    .jumbotron .input-group{
        width: 100%;
    }
    
}